fastapi
uvicorn[standard]
numpy
pandas
opencv-python
mediapipe
scikit-learn
xgboost
joblib
pydantic
albumentations
mlflow
python-multipart
optuna
pytest
structlog
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-exporter-otlp

